* {
    margin: 0;
    padding: 0;
}

/*primary-color used for most text
secondary-color used for most backgrounds*/
:root {
    --primary-color: #2C5784;
    --secondary-color: #ffffff;
    --accent1-color: #5B1865;
    --accent2-color: #470024;
    --alt-background-color: #fff7f5;
    --border: solid 1px rgb(44 87 132 / 0.9);
}

body {
    background-color: var(--secondary-color);
}

/*Format header*/
header {
    height: 60px;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
}

header,
.grid,
footer {
    max-width: 960px;
    margin: 0 auto;
}

header .logo_container {
    height: 100%;
    display: table;
    float: left;
}

header .logo_container .logo {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

header .logo img {
    height: 50px;
    margin-top: 0;
    padding-left: 20px;
}

header nav {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--accent2-color);
}

header nav a {
    display: block;
    text-decoration: none;
    letter-spacing: .5px;
    color: var(--secondary-color);
}

/*Format main*/
main {
    max-width: 960px;
    margin: auto;
}

/*Fonts*/
h1,
h2,
p,
a,
figure,
label,
input {
    font-family: "Fira Sans", sans-serif;
    font-style: normal;
}

/*Format text colors*/
h1,
h2,
p,
figure,
label,
input {
    color: var(--primary-color);
}

h1 {
    font-weight: 1000;
    /*transparent --secondary-color*/
    background-color: rgba(256, 256, 256, .9);
    padding: 15px 70px;
}

h2 {
    font-weight: 800;
    /*background-color: white;*/
    margin: 5px 20px;
}

p,
figure,
label,
input {
    font-weight: 400;
}

a {
    font-weight: 700;
}

/*About Us Page 
Hero Image*/
.hero {
    position: relative;
    margin-top: 1rem;
    overflow-y: hidden;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    bottom: 31.25rem;
    left: 50%;
    transform: translate(-50%, 0);
}

.hero article {
    position: absolute;
    bottom: 10rem;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90%;
    height: auto;
    background-color: var(--secondary-color);
}

.hero article img {
    position: relative;
    padding-top: 58px;
    padding-inline: 30px;
    float: right;
    width: 30%;
    height: auto;
}

.hero article p {
    margin: 20px;
    padding: 20px;
}

.history_container {
    padding: 0;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.history_title {
    grid-column-start: 2;
}

.history_grid {
    grid-row: 2/3;
}

.history_grid img {
    height: 200px;
    width: auto;
}

.adventure_container {
    padding: 0;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr 2fr;
    margin-bottom: 5rem;
    column-gap: 1rem;
}

.adventure_title {
    grid-column-start: 2;
    grid-column-end: 5;
    justify-content: center;
}

.adventure_grid {
    grid-row: 2/4;
}

.adventure_grid img {
    width: 100%;
    height: 80%;
    justify-content: space-around;
}

.adventure_grid figcaption {
    text-align: center;
}

section {
    margin-top: 1rem;
    position: relative;
    width: 100%;
    height: fit-content;
}

section h2 {
    padding: 10px;
    text-align: center;
}

/*Contact*/
.contact_container {
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin: 0 auto 2rem;
    border-bottom: var(--border);
}

.contact_column1 {
    text-align: left;
    padding: 2rem 8rem;
}

.contact_column1 h1,
.contact_box {
    padding: 1rem;
}

.contact_column2 {
    padding: 2rem 4rem;
    text-align: center;
    justify-content: center;
}

.contact_title {
    padding: 1rem;
    text-align: center;
}

/*Employee Section*/
#employee_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem 1rem 4rem;
    border-bottom: var(--border);
    margin-bottom: 2rem;
}

#employee_container figure img {
    width: 100%;
    height: auto;
}

#employee_container figure figcaption {
    text-align: center;
}

/*Contact form */
#contact_form_container {
    width: 65%;
    margin: 0 auto 4rem;
    background-color: var(--alt-background-color);
}

.prompt_formatter {
    margin-top: 2rem;
}

.prompt {
    margin: 1rem 3rem;
}

.response {
    width: 80%;
    padding: .5rem;
    margin: 1rem 3rem;
    border-color: var(--border);
}

#select_grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1rem;
    margin-right: .2rem;
}

.select_items {
    align-self: center;
    justify-self: center;
    font-size: small;
}

.checkbox {
    margin: 1rem 1rem 2rem 6.5rem;
}

/*Submit Button*/
#contact_button {
    display: block;
    margin: 0 auto 2rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 25px;
    padding: 1rem;
    font-weight: 800;
}

/*Footer*/
footer {
    height: 60px;
    border-top: 1px solid rgb(34 49 66 / 0.5);
}

footer p {
    font-weight: 800;
    padding-top: 1rem;
    padding-left: 12rem;
    text-align: center;
}

footer .socials {
    height: 100%;
    display: table;
    float: right;
}

footer .socials .icons {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

footer .socials .icons img {
    height: 40px;
    margin-bottom: 0;
    padding-right: 20px;
}