:root {
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
    --text-color: black;
}

main {
    max-width: max-content;
}

nav {
    background-color: darkblue;
    padding: var(--padding);
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--border);
    padding: var(--padding);
    background-color: burlywood;
    color: var(--text-color);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 10rem;
    border-top: var(--border);
    text-align: center;
}