* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
    --background-color: #B4CDED;
    --nav-background-color: #344966;
    --nav-element-color: #F0F4EF;
    --highlight-color: #BFCC94;
    --text-color: #0D1821;
}

main {
    max-width: max-content;
}

nav {
    background-color: var(--nav-background-color);
    padding: var(--padding);
}

nav a {
    color: var(--nav-element-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--text-color);
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px var(--highlight-color);
    float: inline-end;
}

p {
    width: 30rem;
    padding: 1rem 0 0 0;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--border);
    padding: var(--padding);
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    left: 80px;
}

footer {
    margin-top: 10rem;
    border-top: var(--border);
    text-align: center;
}

/* Class Selectors*/

.box {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: var(--background-color);
    color: var(--text-color);
}